<ion-card
  class="ion-margin-vertical"
  *ngFor="let item of riddleList; let i = index; trackBy: trackBySolution"
>
  <ion-card-header class="ion-no-margin header">
    <ion-card-title
      class="large-font blurry-text"
      [ngClass]="{ showing: !item.locked }"
      >{{ item.title }}</ion-card-title
    >
  </ion-card-header>
  <div class="ion-text-end">
    <ion-button
      fill="clear bold"
      (click)="openRiddle(i)"
      [disabled]="item.locked"
      *ngIf="!item.solved; else solved"
    >
      <ion-icon
        slot="end"
        [name]="item.locked ? 'lock-closed-outline' : 'arrow-forward-outline'"
      ></ion-icon>
    </ion-button>
    <ng-template #solved>
      <ion-button
        class="solved-btn"
        fill="outline bold"
        color="primary"
        size="small"
      >
        SOLVED
      </ion-button>
    </ng-template>
  </div>
</ion-card>
