ion-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-size: 20px;
  font-weight: 500;
}

.large-font {
  font-size: 32px;
}

.header {
  padding-bottom: 0px;
}

.blurry-text {
  filter: blur(8px);
}

.blurry-text.showing {
  -webkit-animation: 0.9s linear forwards reveal;
  -moz-animation: 0.9s linear forwards reveal;
  -o-animation: 0.9s linear forwards reveal;
  animation: 0.9s linear forwards reveal;
}

ion-button.solved-btn {
  font-size: 16px;
  margin-right: 8px;
}

.last-item {
  margin-bottom: 75px;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@-moz-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@-o-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
