<ion-card
  class="ion-margin-vertical"
  *ngFor="let item of riddleList; let i = index; trackBy: trackBySolution"
  [ngClass]="{ 'last-item': i === 5 }"
>
  <ion-card-header
    class="ion-no-margin header"
    [ngClass]="{ wiggle: textShine && !item.solved && !item.locked }"
  >
    <ion-card-title
      class="large-font blurry-text"
      [ngClass]="{ showing: !item.locked }"
    >
      <span
        [ngClass]="{
          'textShine ': textShine && !item.solved && !item.locked
        }"
      >
        {{ item.title }}
      </span>
    </ion-card-title>
  </ion-card-header>
  <div class="ion-text-end">
    <ion-button
      fill="clear bold"
      (click)="item.locked ? lockedClick(item.locked, i) : openRiddle(i)"
      *ngIf="!item.solved; else solved"
    >
      <ion-icon
        [ngClass]="{
          wiggle: !item.locked,
          'wiggle-rotate': enabledWiggleRotate && wigglePosition === i
        }"
        slot="end"
        [name]="item.locked ? 'lock-closed-outline' : 'arrow-forward-outline'"
      ></ion-icon>
    </ion-button>
    <ng-template #solved>
      <ion-button
        class="solved-btn"
        fill="outline bold"
        color="primary"
        size="small"
      >
        SOLVED
      </ion-button>
    </ng-template>
  </div>
</ion-card>
