ion-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-size: 20px;
  font-weight: 500;
}

.large-font {
  font-size: 32px;
}

.header {
  padding-bottom: 0px;
}

.blurry-text {
  filter: blur(8px);
}

.blurry-text.showing {
  -webkit-animation: 0.9s linear forwards reveal;
  -moz-animation: 0.9s linear forwards reveal;
  -o-animation: 0.9s linear forwards reveal;
  animation: 0.9s linear forwards reveal;
}

ion-button.solved-btn {
  font-size: 16px;
  margin-right: 8px;
}

.last-item {
  margin-bottom: 75px;
}

@-webkit-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@-moz-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@-o-keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes reveal {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wiggle-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle-rotate {
  display: inline-block;
  animation: wiggle-rotate 0.7s linear infinite;
}

.wiggle {
  display: inline-block;
  animation: wiggle 1.5s linear infinite;
}

@keyframes wiggle-rotate-soft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle-rotate-soft {
  display: inline-block;
  animation: wiggle-rotate-soft 0.7s linear infinite;
}

// experimental below

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.textShine {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #df8787 17%,
    #cd5353 20%,
    #fa0000 30%,
    #cd0101 70%,
    #da4a4a 80%,
    #df8787 82%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 1s ease-in-out infinite alternate;
}
