ion-tab-bar {
  display: flex;
  flex-direction: column-reverse;
  height: 70px;
}

.devotion-text {
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}

.text {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.icons {
  display: flex;
}

.beating {
  -webkit-animation: beat 1s ease-in-out infinite;
  animation: beat 1s ease-in-out infinite;
  -moz-animation: beat 1s ease-in-out infinite;
}
