<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="end" (click)="refreshList()">
        <ion-icon
          slot="icon-only"
          color="primary"
          name="refresh-circle-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-margin ion-no-padding"> Earn Your Gift </ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="small" slot="start" (click)="showInfo()">
        <ion-icon
          slot="icon-only"
          color="primary"
          name="alert-circle-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose Your Gift</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <app-gift-game-card [riddleList]="riddleList"></app-gift-game-card>
  </ion-content>
</ion-content>
